<!DOCTYPE html>
<style>
    body {
        background-color: #BC8F8F;
    }
    .container {
        text-align: center;
        font-family: Arial, sans-serif;
        margin-top: 100px;
    }
    h2 {
      font-size: 40px;
      color: #FAEBD7;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h2>Search</h2>
    <li><input type="retype" id="retype" placeholder="Type a word" required></li>
    <li><button type="submit">Search</button></li>
</div>
</body>
</html>